<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <script src="https://kit.fontawesome.com/8d60853972.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/home.css">


</head>

<body>

    <div class="container">

        <h1>TODO APP</h1>

        <!----------------------------------- form  -------------------------------------------------->
        <div id="form-container">

            <form action="/create-task" method="post">

                <div id="task-description">

                    <h6>DESCRIPTION</h6>
                    <input type="text" name="TaskName" placeholder="What do you need to do?" required>
                </div>

                <div id="more-specs">
                    
                    
                    <!-- categories of task -->
                    <div id="category">
                        <h6>CATEGORY</h6>

                        <select name="category_type" id="task-category" required>
                            <option disabled selected>Choose your task category</option>
                            <option value="personal">Personal</option>
                            <option value="school">School</option>
                            <option value="work">Work</option>
                            <option value="cleaning">Cleaning</option>
                            <option value="other">Other</option>

                        </select>
                        <i class="fa-solid fa-caret-down"></i>
                    </div>

                    <div id="due-date">
                        <h6>DUE DATE</h6>
                        <input name="date" type="date" required>
                    </div>
                </div>

                <div id="button-container">
                    <button type="submit" id="add-button">
                        <i class="fa-duotone fa-plus"></i>
                        ADD TASK
                    </button>
                </div>



            </form>


        </div>

        <!-- ---------------------------displaying data from the database-------------------------- -->
        <div class="task-display">

            <ul id="task-details">

                <%for(let i of task_details){%>

                    <!-- if the task is already completed , background color will bw green -->
                    <%if(i.marked){%>
                        
                        <style>
                            :root {
                                --done-color: <%=i.color%>
                            }
                        </style>


                        <li style="background-color: var(--done-color);">
                            <a id="<%=i._id%>" href="/task-completed/?id=<%=i._id%>">

                                <i class="fa-solid fa-circle-check "></i>


                            </a>

                            <div class="name-date">

                                <p class="name">
                                    <%= i.TaskName%>
                                </p>
                                <p class="date">
                                    <i class="fa-regular fa-calendar"></i>
                                    <%= i.date%>
                                </p>
                            </div>

                            <div class="current-Task-Category">
                                <p>
                                    <%= i.category_type%>
                                </p>

                            </div>

                            <a href="/delete-task/?id=<%=i._id%>">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>


                        </li>

                        <%}else{%>
                            <!--  if the task is marked incomplete in that case the background color will be white -->
                            <style>
                                :root {
                                    --undone-color: <%=i.color%>
                                }
                            </style>
                            <li style="background-color: var(--undone-color);">
                                <a href="/task-completed/?id=<%=i._id%>">

                                    <i class="fa-solid fa-circle-check "></i>


                                </a>

                                <div class="name-date">

                                    <p class="name">
                                        <%= i.TaskName%>
                                    </p>
                                    <p class="date">
                                        <i class="fa-regular fa-calendar"></i>
                                        <%= i.date%>
                                    </p>
                                </div>

                                <div class="current-Task-Category">
                                    <p>
                                        <%= i.category_type%>
                                    </p>

                                </div>

                                <a href="/delete-task/?id=<%=i._id%>">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>


                            </li>
                            <%}%>

                                <%}%>

            </ul>


        </div>

    </div>



</body>

</html>